
:root {
  --main-color: #3B5CC6;
  --secondary-color:#1b1e34;
}

.vue-devtools__panel {
  display: none !important;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-text{
  color: white !important;
}
.white-text{
  color: white !important;

}
.navbar-expand-lg .navbar-collapse{
  justify-content: flex-end !important;
}
.first-section{
  width: 500px;
  margin: 85px 0 0 0;
}
.text-heading{
  color:var(--main-color)
}
.text-hello{
  font-size: 34px;
}

.navbar{
  position: fixed !important;
  width: 100% !important;
  background-color: #090909;
  z-index: 10000;
}
.letter-font{
  font-weight: bolder;
  font-size:30px;
  font-family:Open Sans;
}
.word-nav{
  font-size:30px;
  font-family: ui-serif;


}
.btn-download {
  border: var(--main-color) 1px solid !important;
  color: white !important;

  background-color: transparent;
  transition: all 0.3s ease;
}

.btn-download:hover {
  color: var(--main-color) !important;

  background-color: var(--main-color);
  box-shadow: 0 0 10px rgba(59, 92, 198, 0.5);
}
/* 
.navbar-text {
  color: var(--main-color) !important;
} */

.nav-link::after {
  background-color: var(--main-color);
}
.rounded-img {
  border-radius: 50%;
  margin-left: clamp(0px, 10vw, 100px);
  margin-right: clamp(0px, 10vw, 100px);
}
.skills-heading{
position: relative;
z-index: 9999;
font-size: 52px;
font-family: ui-serif;
}
.card{
    background: transparent !important;
    /* border: 1px solid var(--main-color) !important; */
}

.zoom-img {
  transition: transform 0.5s ease; /* زيادة الوقت ليكون التأثير أكثر نعومة */
}

.zoom-img:hover {
  transform: scale(1.2);
}
/* .nav-item:active {
  background-color:  var(--main-color) !important;
} */
.nav-link {
  position: relative;
  color: inherit;
  text-decoration: none;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active::after {
  width: 100%;
  background-color: var(--main-color);
}

.content-about p{
  line-height: 1.8;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
}
.back-to-top:hover {
  background-color: #2f4fb4;
}

